@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Montserrat ;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #010030;
    width: 100%;
}

header{
    background: linear-gradient(#5582e4, #0e285f );
    /*background-color: #5582e4;*/
    color: white;
    padding: 20px;
    height: 80px;
}

nav{
    background: linear-gradient(#010030, #030016);
    color: white;
    text-align: center;
    
    margin-top: 10px;
    height: 33px;
    
    
    
}

nav > a{
    
    text-decoration: none;
    color: white;
    
    margin: 13%;
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    
}

.onglet {
    margin: 10%;
}



a:hover{
    padding-bottom: 2px;
    border-bottom: 2px solid white;
    transition: 0.5s;
    
}

.background{
    background-image: url(background\ image2.png);

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 350px;

     
}

.phraseActu{
    display: flex;
    position: relative;
    text-align: right;
    justify-content: center;
    padding: 30px;
    padding-top: 60px;
    padding-bottom: 100px;
    margin-left: 25%;
    

    color: white;
    font-size: 1.60rem;
    font-weight: bolder; 
}


.sectionPdP{
    
    text-align: center;
    width: 30%;
    margin-left: 50%;
    
    position:absolute;
    
    
}

.photoDeProfil{
    flex: 0 1 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0px;
    color: white;
}
.photoDeProfil img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: 5px 5px 15px #555;
}


.social{
    display: inline-flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.055);
    
    
    justify-content:space-around;
    margin: 10px auto 0px 20px;
}
.social img{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.596);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.425);
    
}

.social > a:hover{
    padding-bottom: 0px;
    border-bottom: 0px solid white;
    transition: 0s;
    
}

.containerbox{
    display: flex;
    justify-content: space-between;
    height: fit-content;
    font-size: 14px;
    color: white;
    
    background-color: #00184d00;
    
    margin: 0px 5% 0 5%;
    padding: 20px;

    
    border-radius: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.445);

}

#prez{
    width: 60%;
    margin-right: 20px;
    text-align: justify;
}
ul li {
    list-style: none;
    margin-bottom: 10px;
}

/*li de Langues+Loisirs*/

.containerGauche > .containerAnimation li{
    background-color: rgba(255, 0, 0, 0);
    text-align: center;
    margin-bottom: 20px;
}


p{
    margin-bottom: 20px;
}

#contact{
    width: 50%;
    padding-left: 30px;
    
}

hr {
    border: 1px solid rgba(255, 255, 255, 0.678);
    margin-bottom: 5%;
    margin-top: 5%;
}

h2 {
    margin-bottom: 20px;
    font-size: 18px;
}

/*h5 = titre date lieu*/
 h5{
    font-size: 14px;
 }

.containerligne {
    
    height: fit-content;
    width: auto;
    font-size: 14px;
    color: white;
    
    background-color: #a7c2fc00;
    
    margin: 5%;
    padding: 20px;

    
    border-radius: 6px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.445);

}

.titrecont{
    text-align: center;
    padding-bottom: 20px;
}




footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    background: linear-gradient(#5582e4, #0e285f );
    /*background-color: #5582e4;*/
}

footer > p{
    color: white;
    padding-top: 30px;

}


.btncontact{
    background-color: #02184700;
    width: 30%;
    cursor: pointer;
    
    text-decoration: none;
    color: white;
    
    border-radius: 5px;
    border: none;
    
    
}

footer > a:hover {
    
    background-color: #021847;
    margin-right: 35%;
    margin-left: 35%;
    text-align: center;
    border: none;
    border-radius: 20px;
    
}



/*Portfolio page*/

.portfolio{
    color: white;
    margin: 50px 0 50px 0;
    padding: 20px;
    width: 70%;
    margin-left: 50px;
    
}


.titrePortfolio{
    font-size: 40px;
    width: 100%;
    text-align: center;
    margin-top: 7%;
    margin-bottom: 5%;
}


.containerbox2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    

    font-size: 14px;
    color: white;
    background-color: #010030;
    /*background-color: #5582e4;*/
    
    padding: 20px;
    margin: 0% 2% 2% 2%;
    

    
    border-radius: 6px;
    
    
}




img {
    
    display: flex;
    width: 100%;
    height: 100%;

    -moz-transition: opacity 0.9s;
    -webkit-transition: opacity 0.9s;
    -o-transition: opacity 0.9s;
    
}

#imgMotorExp{

    width: 100%;
    height: 100%;
}


/*Contenant img*/
.imgPF{
    
    position: relative;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    border: 2px solid white;
    margin: 20px;

    background: rgba(228, 221, 221, 0);
    display: inline-block;
    
    
}



.imgPF:hover{
    opacity:0.8;
    -moz-transition: opacity 0.7s;
    -webkit-transition: opacity 0.7s;
    -o-transition: opacity 0.7s;

}


.texthover {
    
    position: absolute;
    background-color: rgba(255, 0, 0, 0);
    width: 100%;
    height: 100%;

    text-align: center;
    
    color: rgba(0, 255, 255, 0);

    
    
}

.texthover > p {
    background-color: rgba(255, 0, 0, 0);
    font-size: 16px;
    text-align: center;
    padding: 1%;
    margin: 20px;
}

.texthover:hover{

    
    color: white;
    position: absolute;
    background-color: rgba(4, 0, 41, 0.712);
    width: 90%;
    height: 55%;
    text-align: center;
    padding-top: 45%;
    padding-left: 5%;
    padding-right: 5%;
    

}



.containerbox2 > a{

    padding: 0;
    border: none;
    text-decoration: none;
    border-bottom: 2px transparent;
    transition: 0s;
}


/*Pour enlever l'effet hover des liens sur les images du PF



Activator du Morpion


#popupActivator {
    background-color: rgba(255, 0, 0, 0);
    color: rgba(255, 255, 255, 0);


    text-decoration: none;
    border: none;
    padding: 0;
    margin: 0;
    
    transition: 0s;
}


/*Activator Among Z Us

#popupActivator2{
    
    background-color: rgba(255, 0, 0, 0);
    color: rgba(255, 255, 255, 0);

    padding: 0;
    margin: 0;
    border-bottom: 0px;
    transition: 0s;
}


*/



/*z-index =1/2/3... pour déterminé ce qui est au premier plan */

.cadreimgtext{
    
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    
    
    height: 100%;
    width: 100%;

    background-color: rgba(5, 0, 46, 0.938);
    
    z-index: 1;
    transition: .5s;
}


.cadreimgtext:target{
    position: fixed;
    visibility: visible;
    opacity: 1;

}


.textpopup{

    position: relative;
    background-color: rgb(77, 71, 167);
    padding: 5% 10% 5% 10%;
    justify-content: center;
    display: block;
    height: fit-content;

    margin: 8% 15% 10% 15%;
    
    
    border-radius: 20px;
    text-align: justify; 

}




.btnClose{
    position: absolute;
    top: 6%;
    right: 6%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.521);
    
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    border-bottom: 0px;
    transition: 0s;
}

.btnClose:hover {
    float: right;
    cursor: pointer;
    color: white;
    
    padding: 0;
    margin: 0;
    border: none;
    text-decoration: none;
    border-bottom: 0px;
    transition: 0.4s;

}




.PFbtn{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    
    
    
    
    margin-top: 20%;
   
    cursor: pointer;
    background-color: #ff000000;
    border-radius: 5px;
    border: none;
    

}

.PFbtn > a:active{
    scale: 0.9;
    transition: 0.2s;
    
    text-align: center;
    display: flex;
    justify-content: center;
}



.PFbtn:hover{
    border: none;
    text-decoration: none;
    border-bottom: 0px;
    transition: 0s;
}



.PFbtn > a {
    background-color: #021847;
    width: 180px;
    height: 100%;
    text-align: center;
    border: none;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    
    text-decoration: none;
    color: white;
    padding: 2%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(255, 255, 255, 0.425);

    
    
}


/*.PFbtn > a:hover{
    padding-bottom: 0;
    border-bottom: none;
    transition: 0s;
    
}
*/













@media screen and (max-width: 650px){
    .containerbox{
        display: block;
        
    }
    #prez {
        width: 100%;
    }
    #contact{
        text-align: center;
        width: 100%;
        margin-top: 100px;
        padding-left: 0px;
    }

    .social{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
        margin: 10px auto 0px auto;
    }

    li {
        text-align: left;
    }

    .titrebanniere {
        color: rgb(255, 255, 255);
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: left;
    }

}

@media screen and (max-width: 450px){

    .titrebanniere {
        color: rgb(255, 255, 255);
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 20px;
        text-align: left;
    }

    li {
        font-size: 9.5px;
    }
    
    figcaption{
        font-size: 11px;
    }
    .phraseActu{
        font-size: 23px;
    }

    .containerGauche{
    
        display: flex;
        float: left;
        flex-direction: column;
        background-color: rgb(0, 8, 78);
        width: 26%;
        height: 100%;
        
        border-right: 1px solid rgba(255, 255, 255, 0.445);
        
        
    }
    
}

@media screen and (max-width: 886px){

    /*Contenant img*/
    .imgPF{
        width: 250px;
        height: 250px;
        
        
    }

    .imgtext{
        width: 100%;
        padding-top: 10px;
        margin: 10px;
    }

    .containerbox2{
        justify-content: center;
    }
}